= simple_form_for @order do |f|
    = f.input :purchaseChannel
    = f.input :clientName
    = f.input :adress
    = f.input :deliveryService
    = f.input :totalValue
    = f.input :lineItems
    = f.button :submit