%h1 Order
%text= "Reference:"
%h4= @order.reference
%text= "Purchase Channel:"
%h4= @order.purchaseChannel
%text= "Address:"
%h4= @order.adress
%text= "Delivery Service:"
%h4= @order.deliveryService
%text= "Total Value:"
%h4= @order.totalValue
%text= "Line Items:"
%h4= @order.lineItems
%text= "Status:"
%h4= @order.status
